.igrs-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: auto;
}

.igrs-font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.igrs-icon {
  margin-right: 1em;
}

